.photo-grid {
    margin: auto;
    max-width: 92.5%;
    display: grid;
    grid-template-rows: auto;
    gap: 16px 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    flex-wrap: wrap;
}