  .footer__link {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 16px;
      line-height: 18px;
  }
  
  .footer__link:hover {
      opacity: 0.8;
      transition: opacity .8s;
  }
  
  .footer__link:not(:last-child) {
      margin-right: 18px;
  }
  
  @media screen and (max-width: 560px) {
      .footer__link:not(:last-child) {
          margin-bottom: 32px;
      }
      .footer__link {
          font-size: 24px;
          line-height: 24px;
      }
  }