.place__paragraph {
    font-size: 18px;
    line-height: 29.34px;
    margin: 0;
    grid-area: paragraph;
}

.place__paragraph:first-child {
    margin-bottom: 25px;
}

.place__paragraph:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .place__parapgraph {
        font-size: 16px;
        line-height: 26.08px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        margin: auto;
    }
}