.place__link {
    color: #FFFFFF;
    text-decoration: underline;
}

.place__link:hover {
    transition: opacity .8s;
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .place__link {
        max-width: 288px;
        padding: 0 16px 0 16px;
    }
}